* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.max_width {
    width: 1000px;
    margin: auto;
}

.background {
    padding: 40px;
}

.container {
    height: 500px;
    border: 2px dashed black;
}

.nav_background {
    padding: 15px;
    background-color: lightskyblue;
}

nav {
    display: flex;
    justify-content: space-between;
}

header nav>p {
    background-color: gold;
    border: 1px dashed black;
    padding: 5px;
    flex: 0 0 20%;
}

.link {
    flex: 0 0 60%;
    text-align: center;
}

.blue {
    background-color: darkblue;
}

.violet {
    width: 800px;
    margin: auto;
    background-color: violet;
}

.flex_box {
    display: flex;
}

.skyblue {
    flex: 0 1 60%;
    background-color: skyblue;
}

.pink {
    flex: 0 1 40%;
    background-color: pink;
}

.lightgrey {
    background-color: lightgrey;
}

.green_container {
    height: 800px;
    background-color: green;
    border: 2px dashed black;
}

.dimgrey {
    background-color: dimgrey;
}

.salmon {
    flex: 0 0 calc(100% / 3);
    background-color: salmon;
}

.darkcyan {
    flex: 0 0 calc(100% / 6);
    background-color: darkcyan;
}

.top_footer {
    padding: 10px 0 40px 0;
    border-bottom: 2px solid white;
}

.bottom_footer {
    padding-top: 20px;
}

footer nav {
    padding: 15px 0;
    background-color: aquamarine;
}

footer nav>p {
    padding: 5px 10px;
    background-color: pink;
    border: 1px dashed black;
}