* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.max_width {
    width: 1000px;
    margin: auto;
}

.background {
    padding: 40px;
}

.container {
    height: 500px;
    border: 1px solid black;
}

.nav_background {
    padding: 15px;
    background-color: lightskyblue;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav>p {
    background-color: gold;
    border: 1px solid black;
    padding: 5px;
    flex: 0 0 20%;
}

.link {
    flex: 0 0 60%;
    text-align: center;
}

.blue {
    background-color: darkblue;
}

.violet {
    width: 800px;
    margin: auto;
    background-color: violet;
}

.flex_box {
    display: flex;
}

.skyblue {
    flex: 0 0 60%;
    background-color: skyblue;
}

.pink {
    flex: 0 0 40%;
    background-color: pink;
}

.lightgrey {
    background-color: lightgrey;
}

.green_container {
    height: 800px;
    background-color: green;
}